html {
  font-size: 100%;
  box-sizing: border-box;
}

*{
  box-sizing: inherit;
}
body {
    background: #ffff80; /* must change */
    color: #000; /* may be #000 or #fff */
    font-family: 'Montserrat', 'Arial', sans-serif;
    margin: 1rem;
}

article {
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1px solid; /* can delete or change */
    background-color: #ffffcc;
    max-width: 800px;
    /* display: flex;
    align-items: center; */
}

h1 {
    font-family: 'Cardo', 'Times New Roman', serif;
    margin: auto;

  }

#mapid {
  height: 500px;
  width: 100%;
  margin-top: 3rem;
  border: 1px solid #999;
}

#firstmapid {
  height: 400px;
  width: 100%;
  margin-top: 3rem;
  border: 1px solid #999;
}


@media screen and (max-width: 730px){

body {
  margin: 0;
  background-color: #ffffcc;
}

  article {
      width: 100%;
      border: none;
      padding: 1rem;
}

#firstmapid{

  }
#mapid{
  margin: 0;

  height: 300px;
}

}
